*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'montserrat';
    color:#ffff;
}
*::selection{
    background-color:#fff;
    color:#95C11E;
}
body::-webkit-scrollbar{
    display: block;
    width:8px;
    background: #95C11E;
}
body::-webkit-scrollbar-thumb{
    background-color: blue;
    border-radius: 50px;
}
